/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: black; */
}
nav {
  position: sticky;
  top: 0px;
  background-color: white;
}
.vertical-line {
  border-left: 1px solid #f2f2f2;
  height: 60px;
}
nav-items > h6 {
  display: flex;
  /* font-weight: 300; */
  margin-top: 10px;
  font-size: 10px;
}
#my-nav-search {
  background-color: #f8f8f8;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  padding-inline: 10px;
}
#my-nav-search > input {
  border: none;
  width: 20vw;
  height: 20px;
  background-color: transparent;
}
/* Styling for the blue button */
.blue-button {
  background-color: rgba(33, 33, 227, 0.817);
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

/* Hover effect */
.blue-button:hover {
  background-color: darkblue;
}
/* New styles for the sidebar */
.sidebar {
  width: 190px;
  height: 100vh;
  background-color: rgb(245, 246, 247);
  /* color:black; */
  position: fixed;
  top: 60px;
  left: -auto;
  transition: left 0.3s ease-in-out;
}

.sidebar-items {
  list-style: none;
  padding: 20px;
}

.sidebar-items li {
  margin-bottom: 10px;
}

.sidebar-items a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* Show sidebar on hover or button click */
.nav-bar-expanded .sidebar {
  left: 0;
}
/* Styling for the main content */
.content {
  margin-left: 250px;
  padding: 20px;
}
.horizontal-line {
  border: none; /* Remove default border */
  height: 2px; /* Set the height of the line */
  background-color: #333; /* Color of the line */
  margin: 20px 0; /* Adjust margin for positioning */

}
/* <!-- Main content goes here --> */
#root{
    display: flex;
    gap: 20px;
}
#root div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container{
    height: 500px;
    width: 300;
    transition: 0.3s;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px 0;
}

#create-issue-input{
    padding: 10px;
}
.card3{
    padding: 20px;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: 2px 2px 5px gray;
}